<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>todoNEJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ionicons.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="bg_img"></div>
    <div id="root">
        <div class="header">
            <a class="icon ion-ios-arrow-back back" href="/"></a>
            <h1 class="appName">TODO</h1>
        </div>
        <div id="todo" class="todo-add">
            <form action="">
                <div class="form-item">
                    <label for="title"><p class="form-item-name">代办项名称</p></label>
                    <input type="text" name="title" id="title" />
                </div>
                <div class="form-item">
                    <label for="content"><p class="form-item-name">代办项说明</p></label>
                    <textarea name="title" id="title"></textarea>
                </div>
                <div class="form-item">
                    <button type="button">添加</button>
                </div>
            </form>

        </div>
        <p class="footer">Power by Express & NEJ</p>
    </div>

    <script src="/js/nej/src/define.js?pro=./"></script>
    <!-- <script src="/js/prj/todo.js"></script> -->
</body>
</html>