<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>todoNEJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ionicons.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="bg_img"></div>
    <div id="root">
        <div class="header">
            <h1 class="appName">TODO</h1>
            <a class="icon ion-android-add add" href="/add"></a>
        </div>
        <div id="todo">
            <div id="todo-search">
                <input type="text" placeholder="输入搜索">
            </div>
            <!-- <div id="todo-filter"></div> -->
            <div id="todo-list">

            </div>
        </div>
        <p class="footer">Power by Express & NEJ</p>
    </div>


    <div id="template" style="display:none;">
        <textarea name="jst" id="box1">
            {list xlist as x}
                <li class="todo-item" data-key="${x._id}">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <a href="/edit/${x._id}"><p class="todo-item-name">${x.title}</p></a>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>
            {/list}
        </textarea>
    </div>

    <script src="/js/nej/src/define.js?pro=./"></script>
    <script>
        define(['/js/prj/todo.js'], function (_t) {
            _t._$search(_t._$api.ALL);
        })
    </script>
</body>
</html>