<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>toNEJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/ionicons.css">
</head>
<body>
    <div id="root">

        <h1 class="appName">TODO</h1>
        <div id="todo">
            <div class="todo-list">
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
                <li class="todo-item">
                    <i class="icon ion-android-checkbox-outline-blank todo-item-check"></i>
                    <p class="todo-item-name">学习NEJ，完成Todo应用</p>
                    <i class="icon ion-trash-a todo-item-del"></i>
                </li>                
            </div>
        </div>
        <p class="footer">Power by Express & NEJ</p>
    </div>
    
    <script src="/js/nej/src/define.js?pro=./"></script>
    
</body>
</html>