* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg_img {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* 背景 */
#root {
    width: 100%;
    height: 100%;
    float: left;
}

.header {
    width: 750px;
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
}
.header .icon {
    font-size: 2rem;
    height: 40px;
    width: 40px;
    border: 0px;
    background: transparent;
    cursor: pointer;
}
.appName {
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
}

/* todo应用区域 */
#todo {
    width: 750px;
    height: 500px;
    overflow: auto;
    /* background: #fafafa; */
    border-radius: 5px;
    margin: 0 auto;
    /* padding-top: 8px;
    padding-bottom: 8px; */
}

.todo-list .todo-item {
    list-style-type: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: flex;
    /* background: #fafafa; */
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;
}

.todo-list .todo-item:hover {
    cursor: pointer;
}

.todo-item .icon {
    font-size: 1.5rem;
    color: #666;
}

.todo-item .todo-item-check {
    margin-right: 10px;
}
.todo-item .todo-item-name {
    font-size: 1.2rem;
    color: #333;
}
.todo-item .todo-item-del {
    position: absolute;
    right: 20px;
}


.footer {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #666;
}

@media screen and (min-width: 700px) {
    .bg_img {
        background-image: url('/images/bg_pc.jpg');
        opacity: 0.5;
    }
    #todo {
        background: #fff;
    }
    /* 设置滚动条的样式 */
    ::-webkit-scrollbar {
        width: 6px;
    }
    /* 滚动槽 */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
    /* 滚动条滑块 */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background:#ccc;
    }
}


@media screen and (max-width: 500px) {
    html, body {
        overflow: auto;
    }
    .bg_img {
        background-image: url('/images/2.jpg');
        background-size: 100% 100%;
        background-attachment: fixed; 
        opacity: 0.4;
    }
    #root {
        /* background: #fff; */
    }
    .header {
        width: 100%;
        height: 70px;
        position: fixed;
        z-index: 999;
        padding: 0 15px;
        background: #fff;
    }
    .appName {
        font-style: normal;
        font-size: 1.6rem;
    }
    .header .icon {
        font-size: 1.5rem;
    }
    .footer {
        /* color: #fff; */
        position: fixed;
        bottom: 0;
        z-index: 999;
        background: #fff;
        height: 60px;
        line-height: 60px;
    }
    #todo {
        width: 100%;
        height: auto;
        overflow: visible;
        margin-top: 70px;
        margin-bottom: 60px;
    }
    #todo .todo-list {
        overflow: unset;
    }
    .todo-item {
        /* background: #fff; */
    }
}
